<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>
<script src="../js/jquery-1.12.4.js"></script>
<script>
    $(document).ready(function () {
        window.onload=function(){
        $("body").load("index");
        /* $.ajax({
            url:"index",
            type:"get",
            dataType:"text",
            data:"",
            success:function () {

            },
            error:function () {
                
            },
        });*/
        }
        $("#title").click(function () {
            var count=$(this).parent().next().text();
            alert(count);
            $("body").load("showInfo");
        });
    })


</script>
</body>
</html>